main{
    color: aliceblue;
    direction: rtl;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.vid{
    margin-left: 150px;
    margin-right: 65px;
    margin-top: 40px;
    border-radius: 20px;
    width: 80%;
    height: 650px;
}


.a1{
    margin-left: 150px;
    margin-right: 65px;
    margin-top: 40px;
    border-radius: 20px;
    width: 80%;
    height: 650px;
}