body{
    background-image: url(../Photos/download.jfif) ;
    background-repeat: repeat;
    background-size: 30%;
    background-attachment: fixed;
}


aside{
    z-index: 5;
    width: 150px;
    height: 100%;
    background-image: url(../Photos/download-1.jfif);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}
#logo{
    padding-left: 20px;
}
#logo img{
    border-radius: 30px;
}
aside a{
    text-indent: 20px;
}
.sidemenu{
    margin-top: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidemenu a {
    padding: 20px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}
.sidemenu a:hover{
    background: rgba(240, 248, 255, 0.274);
}

