main{
    color: aliceblue;
    direction: rtl;
    position: absolute;
    top: 0;
}




.sections{
    padding-top: 50px;
    padding-right: 70px;
}
.section{
    margin: 10px;
    display: inline-block;
    background-color: rgb(51, 54, 54);
    width: 500px;
    height: 80px;
    border-radius: 20px;
    transition: 0.5s;
}
.section a{
    padding-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    display: inline-block;
    text-indent: 140px;
    height: 100%;
    width: 100%;
}
.section:hover{
    background-color: rgba(13, 160, 13, 0.87);
    transform: scale(1.1);
}